li.collection-item.valign-wrapper:hover {
    background-color: #d3d3d3
}

.itemCard {
    border-radius: 20px !important;
    width: 200px;  
    height: 320px;
}

.itemCardImage {
  border-radius: 20px !important;
  height: 200px;
  width: 100px;
}

.cardDeleteButton {
    /* position: relative;
    top: -20px; */
    padding-left: 70px !important;
    padding-right: 70px !important;
    position: relative;
    top: -7px;
    left: -3px;
    background-color: red !important;
    border-radius: 10px !important;
}

.deleteIcon {
    position: relative;
    /* left: -10px; */
}


.cardSwapButton {
    position: relative;
    left: -3px;
    padding-left: 60px !important;
    padding-right: 55px !important;
    top: -7px;
}

.itemCardTitle {
    position: relative;
    top: -75px;
    left: 10px !important;
}

.menu-item-wrapper {
    padding-top: 20px;
}

.swapText {
    position: relative;
    right: 3px;
}
