.chatSideNavTrigger {
    background-color: #F25D27 !important;
    margin-left: 10px !important;
    margin-top: 10px !important;
    position: fixed !important;
}

.chatCollection {
    margin-top: 0px !important;
    
}